<!doctype html>
<title>TDI Milestone Project</title>

<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css"
    rel="stylesheet" type="text/css"
>
<div class=page>
  <h1>Stock Plot</h1>

  <div class=metanav>


    <h2>Please enter a stock ticker (e.g., GOOG):</h2>

    <h4>
      <form id='answerform' method='post' action='plotpage' >
    <p>
        Ticker : <input type='text' name='tickerText' />
      </p>
        <p>

        <!-- input type="hidden" name='pricecheck' value='Close' / -->

        <input type="radio" name='pricecheck' value='Open' align='left' /> Opening price<br>
        <input type="radio" name='pricecheck' value='High' align='left' /> Highest price of the day<br>
        <input type="radio" name='pricecheck' value='Low' align='left' /> Lowest price of the day<br>
        <input type="radio" name='pricecheck' value='Close' align='left' checked='yes' /> Closing price<br>
        
        </p>

        <p>
          <input type='submit' value='Plot' />
        </p>
      </form>
    </h4>
    <h2> {{ msg }} </h2>
  </div>
</div>